{% extends "Main/base.html" %}
{% load static %}
{% block title %} Hirabricks | Home Page {% endblock %}
{% block content %}

<img class="absolute left-0 top-0 -z-10 w-60 lg:w-auto" src="https://govmngfhcfddnuqorust.supabase.co/storage/v1/object/public/image-bucket/star-background-header.png" alt="" />
<img class="absolute -top-32 right-0 -z-10 hidden w-60 rotate-90 md:block lg:w-auto" src="https://govmngfhcfddnuqorust.supabase.co/storage/v1/object/public/image-bucket/star-background-header.png" alt="" />
<!-- <img class="absolute right-0 top-0 mr-10 mt-10" src="https://shuffle.dev/saturn-assets/images/headers/light-orange-blue-1.png" alt="" /> -->
<!-- <img class="lg:mt-125 lg:mt-88 xl:mt-112 lg:h-88 animate-moveHand absolute right-0 top-0 -mr-10 mt-64 hidden h-32 sm:-mr-0 sm:block lg:h-60" src="https://shuffle.dev/saturn-assets/images/headers/robot-hand-header.png" alt="" /> -->

<section class="relative overflow-hidden px-12 py-8 lg:py-16 dark:bg-gray-900">
  <div class="lg:flex">
    <div class="flex w-full items-center justify-center px-6 py-4 lg:h-[32rem] lg:w-1/2">
      <div class="mt-32 max-w-xl md:mt-8">
        <div class="mx-auto text-left">
          <h1 class="font-heading mb-4 text-7xl font-bold text-gray-900 sm:mb-8">
            <span>Crafting Quality for</span>
            <span class="font-serif italic">40 Years</span>
          </h1>
        </div>

        <h3 class="mb-6 font-semibold italic">A Touch of History</h3>
        <div class="mb-14 max-w-xs sm:max-w-sm lg:flex lg:max-w-none">
          <div class="mb-2 pt-3 lg:mb-0 lg:mr-8">
            <svg width="84" height="10" viewbox="0 0 84 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 4.25C0.585786 4.25 0.25 4.58579 0.25 5C0.25 5.41421 0.585786 5.75 1 5.75L1 4.25ZM84 5.00001L76.5 0.669879L76.5 9.33013L84 5.00001ZM1 5.75L77.25 5.75001L77.25 4.25001L1 4.25L1 5.75Z" fill="#1E254C"></path>
            </svg>
          </div>
          <div class="max-w-md">
            <p class="font-semibold text-gray-900 lg:text-xl">Established for four decades, Hirabricks is a leading name in the brick industry, renowned for its commitment to quality and excellence.</p>
          </div>
        </div>

        <a class="group relative mb-24 inline-block w-full overflow-hidden rounded-md bg-primary px-6 py-4 font-semibold text-white sm:w-auto" href="#">
          <div class="group-hover:scale-102 absolute right-full top-0 h-full w-full transform bg-gray-900 transition duration-500 group-hover:translate-x-full"></div>
          <div class="relative flex items-center justify-center">
            <span class="mr-4">Meet The Expert</span>
            <span>
              <i class="ri-arrow-right-s-line text-xl"></i>
            </span>
          </div>
        </a>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <img class="w-full rounded-lg" src="https://i.pinimg.com/564x/71/f7/d8/71f7d83c9445600bbd2ccc26cfd963eb.jpg" alt="office content 1" />

      <img class="mt-4 w-full rounded-lg lg:mt-10" src="https://i.pinimg.com/564x/f0/c3/b7/f0c3b77b96a2a2af96dae1a2203b1a99.jpg" alt="office content 2" />
    </div>
  </div>
</section>

<section class="relative overflow-hidden">
  <div class="container mx-auto px-5 py-6">
    <div class="-m-4 flex flex-wrap text-center">
      <div class="w-1/2 p-4 sm:w-1/4">
        <h2 class="title-font text-4xl font-semibold text-gray-900 sm:text-5xl">20K +</h2>
        <p class="pt-2 leading-relaxed">Client base</p>
      </div>
      <div class="w-1/2 p-4 sm:w-1/4">
        <h2 class="title-font text-3xl font-semibold text-gray-900 sm:text-5xl">5K+</h2>
        <p class="pt-2 leading-relaxed">Product types</p>
      </div>
      <div class="w-1/2 p-4 sm:w-1/4">
        <h2 class="title-font text-3xl font-semibold text-gray-900 sm:text-5xl">35+ Countries</h2>
        <p class="pt-2 leading-relaxed">Exported to</p>
      </div>
      <div class="w-1/2 p-4 sm:w-1/4">
        <h2 class="title-font text-3xl font-semibold text-gray-900 sm:text-5xl">4</h2>
        <p class="pt-2 leading-relaxed">Factory location</p>
      </div>
    </div>
  </div>
</section>

<section class="relative overflow-hidden py-12 text-gray-800" id="aboutus">
  <div class="container mx-auto max-w-xl space-y-24 px-12 py-12 lg:max-w-7xl lg:px-24">
    <div>
      <p class="text-md mx-auto mt-4 max-w-3xl pb-3 text-center text-gray-500">FOCUSED AND FUTURE READY</p>
      <h2 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Right People to Deliver Unique Construction Materials</h2>
    </div>
    <div class="grid lg:grid-cols-2 lg:items-center lg:gap-8">
      <div>
        <h3 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Our Goal is to Be Better</h3>
        <p class="mt-3 text-lg text-gray-500">We successfully cope with tasks of varying complexity, provide long-term guarantees and regularly master new technologies. Our portfolio includes dozens of successfully completed projects of houses of different storeys, with high–quality finishes and good repairs. Building houses is our vocation!</p>
        <div class="mt-12 space-y-12">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-md bg-primary text-gray-50">
                <i class="ri-quill-pen-line text-2xl"></i>
              </div>
            </div>
            <div class="ml-4">
              <h4 class="text-lg font-medium leading-6 text-gray-900">Geographical diversity, project complexity</h4>
              <p class="mt-2 text-gray-500">Geographical diversity, project complexity</p>
            </div>
          </div>
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-md bg-primary text-gray-50">
                <i class="ri-quill-pen-line text-2xl"></i>
              </div>
            </div>
            <div class="ml-4">
              <h4 class="text-lg font-medium leading-6 text-gray-900">Whether building on land or over water</h4>
              <p class="mt-2 text-gray-500">Whether building on land or over water</p>
            </div>
          </div>
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-md bg-primary text-gray-50">
                <i class="ri-quill-pen-line text-2xl"></i>
              </div>
            </div>
            <div class="mb-6 ml-4">
              <h4 class="text-lg font-medium leading-6 text-gray-900">Construction companies respond to the unique needs</h4>
              <p class="mt-2 text-gray-500">Construction companies respond to the unique needs</p>
            </div>
          </div>
        </div>
      </div>

      <div class="justify-center">
        <div class="absolute items-center justify-center">
          <figure class="h-24 w-24">
            <img class="animate-spin-slow relative inset-0 mx-auto" src="https://govmngfhcfddnuqorust.supabase.co/storage/v1/object/public/image-bucket/EXP_TAG.png" />
          </figure>
        </div>

        <img src="https://images.pexels.com/photos/16468070/pexels-photo-16468070/free-photo-of-two-male-brick-makers-at-work.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="mx-auto rounded-lg bg-gray-500 shadow-xl" />
      </div>
    </div>
  </div>
</section>

<section class="relative bg-black" id="Services">
  <div class="absolute inset-0 bg-cover bg-center" style="background-image: url('https://builty.bslthemes.com/wp-content/uploads/2022/09/pattren-5.png');"></div>

  <div class="container mx-auto max-w-7xl space-y-20 px-6 py-20 lg:max-w-7xl lg:px-24">
    <div>
      <p class="text-md mx-auto mt-4 max-w-3xl pb-3 text-center text-gray-400">WHAT WE PROVIDE</p>
      <h2 class="text-center text-4xl font-bold tracking-tight text-gray-200 sm:text-6xl">Exclusive Services</h2>
    </div>

    <div class="mt-8 grid grid-cols-1 gap-8 px-8 md:grid-cols-3 md:gap-16 xl:mt-12">
      <div class="space-y-3">
        <span class="inline-block rounded-full bg-red-100 p-3 text-primary dark:bg-primary dark:text-white">
          <i class="ri-ancient-gate-line text-2xl"></i>
        </span>

        <h1 class="mb-3 text-lg font-semibold text-gray-400 dark:text-white">Innovative Building Solutions</h1>

        <p class="text-base leading-relaxed text-gray-100">Elevate your construction projects with our premium-quality materials. From traditional terracotta bricks to modern building supplies, we ensure durability, reliability, and aesthetic appeal in every component.</p>

        <a href="#" class="-mx-1 inline-flex transform items-center text-sm capitalize text-primary transition-colors duration-300 hover:text-red-600 hover:underline dark:text-red-400 dark:hover:text-primary">
          <span class="mx-1">read more</span>
          <i class="ri-more-fill text-2xl"></i>
        </a>
      </div>

      <div class="space-y-3">
        <span class="inline-block rounded-full bg-red-100 p-3 text-primary dark:bg-primary dark:text-white">
          <i class="ri-shape-fill text-2xl"></i>
        </span>

        <h1 class="mb-3 text-lg font-semibold text-gray-400 dark:text-white">Interior Design</h1>

        <p class="text-base leading-relaxed text-gray-100">Transform your spaces into captivating environments with our expert interior design solutions. Whether it's residential or commercial, our team brings creativity, functionality, and elegance to every interior, reflecting your unique style and vision.</p>

        <a href="#" class="-mx-1 inline-flex transform items-center text-sm capitalize text-primary transition-colors duration-300 hover:text-red-600 hover:underline dark:text-red-400 dark:hover:text-primary">
          <span class="mx-1">read more</span>
          <i class="ri-more-fill text-2xl"></i>
        </a>
      </div>

      <div class="space-y-3">
        <span class="inline-block rounded-full bg-red-100 p-3 text-primary dark:bg-primary dark:text-white">
          <i class="ri-drag-drop-line text-2xl"></i>
        </span>

        <h1 class="mb-3 text-lg font-semibold text-gray-400 dark:text-white">AutoCAD Design</h1>

        <p class="text-base leading-relaxed text-gray-100">Harness the power of cutting-edge technology with our AutoCAD design services. Our skilled professionals use advanced software to meticulously plan and execute your projects, ensuring precision, efficiency, and seamless integration of architectural elements.</p>

        <a href="#" class="-mx-1 inline-flex transform items-center text-sm capitalize text-primary transition-colors duration-300 hover:text-red-600 hover:underline dark:text-red-400 dark:hover:text-primary">
          <span class="mx-1">read more</span>

          <i class="ri-more-fill text-2xl"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="relative overflow-hidden bg-white py-24">
  <div class="container mx-auto px-12">
    <div class="-mx-4 mb-16 flex flex-wrap items-center justify-between">
      <div class="mb-8 w-full px-4 md:mb-0 md:w-1/2">
        <div class="max-w-md">
          <span class="rounded-9xl mb-4 inline-block bg-red-100 px-3 py-px text-xs font-medium uppercase leading-5 text-primary">Team</span>
          <h3 class="mb-4 text-4xl font-bold tracking-tighter md:text-5xl">Meet our team</h3>
          <p class="text-lg font-medium text-gray-500 md:text-xl">Proficient and adept at managing industry business with professionalism.</p>
        </div>
      </div>
      <div class="hidden w-full px-4 md:block md:w-auto">
        <div class="flex flex-wrap justify-center">
          <div class="w-full py-1 md:w-auto md:py-0">
            <p class="inline-block w-full rounded-md border border-gray-200 bg-white px-7 py-5 text-center text-base font-medium leading-4 text-gray-800 shadow-sm hover:bg-gray-100 focus:ring-2 focus:ring-gray-200 focus:ring-opacity-50 md:text-lg">About Us</p>
          </div>
        </div>
      </div>
    </div>
    <div class="-m-4 flex flex-wrap">
      {% for Team in TeamMember %}
      <div class="p-8 md:w-1/2 lg:w-1/3">
        <img class="mb-8 block h-96 w-full rounded-lg object-cover object-center" src="{{Team.image_url}}" />
        <div class="w-full">
          <h2 class="mb-2 text-3xl font-semibold leading-tight md:text-4xl">{{Team.name}}</h2>
          <h3 class="text-lg font-medium text-primary">{{Team.position}}</h3>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</section>

<section class="relative overflow-hidden" id="Gallery">
  <div class="container mx-auto flex flex-wrap px-5 py-12">
    <div class="-m-1 flex flex-wrap md:-m-2">
      <div class="flex w-1/2 flex-wrap">
        <div class="w-1/2 p-1 md:p-2">
          <img alt="gallery" class="block h-full w-full object-cover object-center" src="https://i.pinimg.com/564x/9d/90/45/9d9045042b487edf976837d5d33beae5.jpg" />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <img alt="gallery" class="block h-full w-full object-cover object-center" src="https://i.pinimg.com/564x/7a/72/4d/7a724ddca209644a479e2623be361021.jpg" />
        </div>
        <div class="w-full p-1 md:p-2">
          <img alt="gallery" class="block h-full w-full object-cover object-center" src="https://i.pinimg.com/564x/53/cd/15/53cd15285938e9135abfaecaa4feab62.jpg" />
        </div>
      </div>
      <div class="flex w-1/2 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img alt="gallery" class="block h-full w-full object-cover object-center" src="https://i.pinimg.com/564x/32/40/a3/3240a371623d3ea1961aa3b4669a9d09.jpg" />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <img alt="gallery" class="block h-full w-full object-cover object-center" src="https://i.pinimg.com/564x/5b/e3/64/5be3643c2ac3441bff5358b207ee9047.jpg" />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <img alt="gallery" class="block h-full w-full object-cover object-center" src="https://i.pinimg.com/564x/fb/43/50/fb43502659725113f8989a20978bd90f.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="relative overflow-hidden bg-white py-6 dark:bg-gray-900">
  <div class="container mx-auto max-w-4xl px-6 py-10">
    <h1 class="text-center text-4xl font-semibold text-gray-800 dark:text-white">Frequently asked questions</h1>

    <div class="mt-12 space-y-8">
      <div class="m-2 space-y-4">
        <details class="group rounded-lg bg-gray-900 p-6 [&_summary::-webkit-details-marker]:hidden" open>
          <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-100">
            <h2 class="font-medium">How i can play for my appoinment ?</h2>

            <span class="relative size-5 shrink-0">
              <i class="ri-subtract-fill absolute inset-0 text-xl opacity-100 group-open:opacity-0"></i>
              <i class="ri-add-circle-line absolute inset-0 text-xl opacity-0 group-open:opacity-100"></i>
            </span>
          </summary>

          <p class="mt-4 leading-relaxed text-gray-100">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab hic veritatis molestias culpa in, recusandae laboriosam neque aliquid libero nesciunt voluptate dicta quo officiis explicabo consequuntur distinctio corporis earum similique!</p>
        </details>

        <details class="group rounded-lg bg-gray-900 p-6 [&_summary::-webkit-details-marker]:hidden">
          <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-100">
            <h2 class="font-medium">How i can play for my appoinment ?</h2>

            <span class="relative size-5 shrink-0">
              <i class="ri-subtract-fill absolute inset-0 text-xl opacity-100 group-open:opacity-0"></i>
              <i class="ri-add-circle-line absolute inset-0 text-xl opacity-0 group-open:opacity-100"></i>
            </span>
          </summary>

          <p class="mt-4 leading-relaxed text-gray-100">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab hic veritatis molestias culpa in, recusandae laboriosam neque aliquid libero nesciunt voluptate dicta quo officiis explicabo consequuntur distinctio corporis earum similique!</p>
        </details>
      </div>
    </div>
  </div>
</section>

<section id="contact-us" class="relative overflow-hidden bg-gradient-to-tr from-[#d0543e] to-[#8e2812] py-4 dark:from-gray-700 dark:via-gray-800 dark:to-gray-900">
  <div class="container mx-auto flex flex-col px-6 py-12">
    <div class="flex-1 lg:-mx-6 lg:flex lg:items-center">
      <div class="lg:w-1/26 text-white lg:mx-6">
        <h1 class="text-3xl font-semibold capitalize lg:text-5xl">Get a quote</h1>

        <p class="mt-6 max-w-xl">Ask us everything and we would love to hear from you</p>
        <p class="-mx-2 mt-2 flex items-start">
          <svg xmlns="http://www.w3.org/2000/svg" class="mx-2 h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
          </svg>

          <span class="mx-2 w-72 truncate text-white">info@hirabricks.com</span>
        </p>

        <div class="my-12 grid grid-cols-1 gap-12 sm:grid-cols-2 lg:col-span-2">
          {% for company in Company_info %}
          <div>
            <h2 class="font-medium text-white">{{company.name}}</h2>
            <p class="mt-2 text-white">
              <i class="ri-map-pin-line text-xl"></i>
              <span class="mx-2 w-72 truncate text-white">{{company.address}}</span>
            </p>
            <p class="mt-2 text-white">
              <i class="ri-phone-line text-xl"></i>
              <span class="mx-2 w-72 truncate text-white"><a href="tel:{{company.phone_number}}">{{company.phone_number}}</a></span>
            </p>
            <p class="mt-2 text-white">
              <i class="ri-mail-send-line text-xl"></i>
              <span class="mx-2 w-72 truncate text-white"><a href="mailto:{{company.email}}">{{company.email}}</a></span>
            </p>
          </div>
          {% endfor %}
        </div>

        <div class="overflow-hidden rounded-xl p-8 lg:col-span-2">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1766.4626429411187!2d85.33257!3d27.688704!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1995e36f0c83%3A0xf254b9008a4e196e!2sHira%20Bricks!5e0!3m2!1sen!2snp!4v1710937397822!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

      <div class="mt-8 lg:mx-6 lg:w-1/2">
        <div class="mx-auto w-full overflow-hidden rounded-xl bg-white px-8 py-10 shadow-2xl lg:max-w-xl dark:bg-gray-900">
          <h1 class="text-2xl font-medium text-gray-700 dark:text-gray-200">Contact form</h1>

          <form method="post" class="mt-6">
            {% csrf_token %} {% for message in messages %}
            <div class="pt-4" x-data="{ isOpen: true }">
              <div class="border-stroke dark:border-dark-3 dark:bg-dark-2 mb-11 flex items-center rounded-md border border-l-[8px] border-l-[#00B078] bg-white p-5 pl-8" x-show="isOpen">
                <div class="mr-5 flex h-[36px] w-full max-w-[36px] items-center justify-center rounded-full bg-[#00B078]">
                  <i class="ri-check-fill"></i>
                </div>
                <div class="flex w-full items-center justify-between">
                  <div>
                    <h3 class="text-dark mb-1 text-lg font-medium dark:text-white">{{message}}</h3>
                  </div>
                  <div>
                    <button class="hover:text-danger text-[#ACACB0]" @click="isOpen = false">
                      <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            <div class="flex-1">
              <label class="mb-2 block text-sm text-gray-600 dark:text-gray-200">Full Name</label>
              <input type="text" placeholder="John Doe" name="name" class="mt-2 block w-full rounded-md border border-gray-200 bg-white px-5 py-3 text-gray-700 focus:border-red-400 focus:outline-none focus:ring focus:ring-red-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-red-300" />
            </div>

            <div class="mt-6 flex-1">
              <label class="mb-2 block text-sm text-gray-600 dark:text-gray-200">Email address</label>
              <input type="email" name="email" placeholder="johndoe@example.com" class="mt-2 block w-full rounded-md border border-gray-200 bg-white px-5 py-3 text-gray-700 focus:border-red-400 focus:outline-none focus:ring focus:ring-red-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-red-300" />
            </div>

            <div class="mt-6 w-full">
              <label class="mb-2 block text-sm text-gray-600 dark:text-gray-200">Message</label>
              <textarea class="mt-2 block h-32 w-full rounded-md border border-gray-200 bg-white px-5 py-3 text-gray-700 placeholder-gray-400 focus:border-red-400 focus:outline-none focus:ring focus:ring-red-300 focus:ring-opacity-40 md:h-48 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-red-300" placeholder="Message" name="message"></textarea>
            </div>

            <button class="mt-6 w-full transform rounded-md bg-gray-700 px-6 py-3 text-sm font-medium capitalize tracking-wide text-white transition-colors duration-300 hover:bg-gray-600 focus:outline-none focus:ring focus:ring-gray-400 focus:ring-opacity-50">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
