{% extends "Main/base.html" %}
{% load static %}

{% block title %} All Products | Hirabricks {% endblock %}
{% block content %}

<div class="container mx-auto px-5">
  <!-- Breadcrumbs -->
  <nav class="mb-12 flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <li class="group flex items-center">
        <i class="ri-home-2-fill me-2.5 ml-2 w-3 font-bold group-hover:text-red-600"></i>
        <a href="{% url 'products' %}" class="inline-flex items-center justify-center text-sm font-medium text-gray-700 group-hover:text-red-600 dark:text-gray-400 dark:hover:text-white"> All products </a>
      </li>
      <li class="group flex items-center">
        <i class="ri-arrow-right-s-line me-2.5 w-3 text-xl font-bold group-hover:text-red-600"></i>
        <a href="{% url 'By_category' slug=products.category.slug %}" class="inline-flex items-center justify-center text-sm font-medium text-gray-700 group-hover:text-red-600 dark:text-gray-400 dark:hover:text-white"> {{products.category }} </a>
      </li>
      <li class="group flex items-center">
        <i class="ri-arrow-right-s-line me-2.5 w-3 text-xl font-bold group-hover:text-red-600"></i>
        <p class="inline-flex items-center justify-center text-sm font-medium text-gray-700 group-hover:text-red-600 dark:text-gray-400 dark:hover:text-white">{{products.slug }}</p>
      </li>
    </ol>
  </nav>

  <!-- Product details layout -->
  <div class="mx-auto flex flex-wrap lg:w-4/5">
    <img alt="{{products.name}}" class="h-1/3 lg:h-64 w-full rounded object-cover object-center lg:h-auto lg:w-1/2 " src="{{products.product_image}}" />
    <div class="mb-6 mt-8 w-full lg:mb-0 lg:w-1/2 lg:py-6 lg:pl-10">
      <h2 class="title-font mb-1 text-sm tracking-widest text-gray-500">{{products.category}}</h2>
      <h1 class="title-font mb-4 text-3xl font-medium text-gray-900">{{products.name}}</h1>
      <div class="mb-12 flex">
        <a class="flex-grow border-b-2 border-red-500 px-1 py-2 text-lg text-red-500">Description</a>
        <!-- <a class="flex-grow border-b-2 border-gray-300 px-1 py-2 text-lg">Reviews</a>
        <a class="flex-grow border-b-2 border-gray-300 px-1 py-2 text-lg">Details</a> -->
      </div>

      <p class="mb-4 leading-relaxed">{{products.description | safe }}</p>

      <div class="flex border-t border-gray-200 py-2">
        <h3 class="mb-4 font-semibold text-gray-900 dark:text-white mr-4">Sizes </h3>

        {% if product_attributes_json %}
        <ul class="w-full items-center rounded-lg border border-gray-200 bg-white text-sm font-medium text-gray-900 sm:flex dark:border-gray-600 dark:bg-gray-700 dark:text-white space-x-1">
          {% for attribute in product_attributes_json %}
          <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
            <div class="flex items-center ps-3">
              <input id="dimension_{{ forloop.counter }}" type="radio" value="{{ attribute.dimensions }}" name="name" class="text-primary focus:ring-primary dark:focus:ring-primary h-4 w-2 border-gray-300 bg-gray-100 focus:ring-2 dark:border-gray-500 dark:bg-gray-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700" />

              <label for="dimension_{{ forloop.counter }}" class="ms-2 w-full py-3 text-sm font-medium text-gray-900 dark:text-gray-300">{{ attribute.name }} </label>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <span class="ml-auto text-gray-900">{{products.dimensions}}</span>

        {% endif %}
      </div>

      <div class="flex border-t border-gray-200 py-2">
        <span class="text-gray-500">Size</span>
        <span class="ml-auto text-gray-900">Medium</span>
      </div>
      <div class="flex border-t border-gray-200 py-2">
        <span class="text-gray-500">Item Code</span>
        <span class="ml-auto text-gray-900">{{products.product_code}}</span>
      </div>


      {% if product_attributes_json %}
      <div class="mb-6 flex border-b border-t border-gray-200 py-2">
        <span class="text-gray-500">Dimensions</span>
        <span class="ml-auto text-gray-900" id="dimensions-info">{{ attribute.dimensions }}</span>
      </div>
      <div class="mb-6 flex border-b  border-gray-200">
        <span class="text-gray-500">Available Quantity</span>
        <span class="ml-auto text-gray-900" id="stock-info">{{ attribute.stock }}</span>
      </div>

      <div class="flex">
        <span class="title-font text-2xl font-medium text-gray-900">
          <p class="text-lg font-semibold" id="price-info">{{ attribute.price }}</p>
        </span>
      </div>
      {% else %}

      <div class="mb-6 flex border-b border-t border-gray-200 py-2">
        <span class="text-gray-500">Dimensions</span>
        <span class="ml-auto text-gray-900">{{ products.dimensions }}</span>
      </div>
      <div class="mb-6 flex border-b  border-gray-200">
        <span class="text-gray-500">Available Quantity</span>
        <span class="ml-auto text-gray-900">{{ products.stock }}</span>
      </div>
      <!-- Display Price and Stock -->
      <div class="mt-4">
        <p class="text-lg font-semibold" id="price-info">Rs. {{products.price}}</p>
      </div>
      {% endif %}


     
    </div>
  </div>

</div>

<script>
  // JavaScript to update price and stock based on selected dimension
   const productAttributes = {{ product_attributes_json|safe }};  // Parse JSON data

   document.addEventListener('DOMContentLoaded', function() {
       // Add event listeners to radio buttons
       document.querySelectorAll('input[name="name"]').forEach(function(radio) {
           radio.addEventListener('change', function() {
               // Get the selected dimension
               const selectedDimension = this.value;

               // Find the corresponding product attribute
               const selectedAttribute = productAttributes.find(attr => attr.dimensions === selectedDimension);

               // Update price and stock info
               const priceInfo = document.getElementById('price-info');
               const stockInfo = document.getElementById('stock-info');
               const dimensionsInfo = document.getElementById('dimensions-info');
               if (selectedAttribute) {
                   priceInfo.textContent = 'Price: Rs.' + selectedAttribute.price;
                   stockInfo.textContent = selectedAttribute.stock;
                   dimensionsInfo.textContent = selectedAttribute.dimensions;
               } else {
                   priceInfo.textContent = 'Price: N/A';
                   stockInfo.textContent = 'N/A';
                   dimensionsInfo.textContent = 'N/A';
               }
           });
       });
   });

</script>
{% endblock %}