/* Custom scrollbar */
/* Width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b53721;
    border-radius: 10px; /* Make the scrollbar thumb rounded */
    height: 5px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #7d1c0b;
}