{% extends 'base.html' %} 
{% load static %}

{% block title %} Dryer Record Form | TunnelKiln {% endblock %} 

{% block content %}
<form action="{% url 'Dryer_report' %}" method="POST" class="mb-4 p-12 " enctype="multipart/form-data">
    {% csrf_token %}
    {{ dryer_record_form.as_p }}   

    <button type="submit" class="mt-4 w-full rounded-lg bg-red-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 sm:w-auto dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Submit</button>
    
   
</form>

{% endblock %} 