{% extends 'base.html' %} 
{% load static %}

{% block title %} Dryer Records | TunnelKiln {% endblock %} 

{% block content %}
<section class="p-12">

<div class="grid grid-cols-1 gap-2 md:grid-cols-2">
	<div class="px-2 py-6">
		<canvas id="myChart"></canvas>
	</div>

	<div class="">
		<h1 class="text-2xl font-bold mb-4">Bricks Dried records </h1>
		<div class="overflow-x-auto">
			<table class="table-auto w-full border-collapse border border-gray-200">
				<thead class="bg-gray-100">
					<tr>
						<th class="px-4 py-2">id</th>
						<th class="px-4 py-2">Date</th>
						<th class="px-4 py-2">Count</th>
						<th class="px-4 py-2">user</th>
					</tr>
				</thead>
				<tbody>
					{% for details in aggregated_data %}
					<tr>
						<td class="border px-4 py-2">{{ forloop.counter }}</td>
						<td class="border px-4 py-2">{{ details.date }}</td>
						<td class="border px-4 py-2">{{ details.count }}</td>
						<td class="border px-4 py-2">{{ details.user }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

</section>


<script>
const labels = JSON.parse('{{ labels|escapejs }}');
const data = JSON.parse('{{ data|escapejs }}');

const ctx = document.getElementById('myChart');

new Chart(ctx, {
	type: 'line',

	data: {
		labels: labels,
		datasets: [{
			label: 'Total',
			data: data,
			fill: 'origin',
			borderColor: '#b53721',
			backgroundColor: '#F5F5F5',
			tension: 0.1
		}]
	},
	
	options: {
		plugins: {
		title: {
			display: true,
			text: 'Total Bricks From Dryer'
		},
		},
		scales: {
			x: {
				display: true,
				title: {
				display: true,
				text: 'By Date'
				}
			},
			y: {
				display: true,
				title: {
				display: true,
				text: 'Total Bricks'
				}
			}
			}
		},
	
});


</script>
{% endblock %}
