{% load static %}
{% load app_filters %}

<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <!-- RemixIcon CDN -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    
    <link href="{% static 'image/factoryicon-black.png' %}" rel="shortcut icon" type="image/x-icon" media="(prefers-color-scheme: light)">
    <link href="{% static 'image/factoryicon-white.png' %}" rel="shortcut icon" type="image/x-icon" media="(prefers-color-scheme: dark)">
    


    <meta name="description" content="Welcome to the Hirabricks Tunnel-kiln Website." />
    <meta name="keywords" content="Aashutosh shrestha, Hirabricks, Tunnel Kiln, Tunnel, Kiln" />
    <meta name="robots" content="index, follow" />
    <meta name="copyright" content="Aashutosh Shrestha @ 2024" />
    <meta name="language" content="EN" />
    <meta name="author" content="Aashutosh Shrestha" />
    <meta name="distribution" content="global" />
    <meta name="rating" content="general" />

    <meta property="og:title" content="Hirabricks | Tunnel-Kiln" />
    <meta property="og:description" content="Tunnel Kiln Car Position and history " />
    <meta property="og:image" content="{% static 'image/logo.png' %}" loading="eager" />
    <meta property="og:locale" content="en_US" />

    <link rel="canonical" href="https://car-records.vercel.app/" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>

  <body class="max-w-screen-4xl bg-gray-100">
    <div class="bg-gray-50 antialiased dark:bg-gray-900">
      <nav class="fixed left-0 right-0 top-0 z-50 border-b border-gray-200 bg-white px-4 py-2.5 dark:border-gray-700 dark:bg-gray-800">
        <div class="flex flex-wrap items-center justify-between">
          <div class="flex items-center justify-start">
            <button data-drawer-target="drawer-navigation" data-drawer-toggle="drawer-navigation" aria-controls="drawer-navigation" class="mr-2 cursor-pointer rounded-lg p-2 text-gray-600 hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:ring-2 focus:ring-gray-100 md:hidden dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:bg-gray-700 dark:focus:ring-gray-700">
              <svg aria-hidden="true" class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
              </svg>
              <svg aria-hidden="true" class="hidden h-6 w-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Toggle sidebar</span>
            </button>
            <a href="{% url 'index' %}" class="mr-4 flex items-center justify-between">
              <img src="{% static 'image/lightlogo.png' %}" class="mr-3 h-11 w-28 dark:hidden" alt="Hirabricks Light Logo"/>
              <img src="{% static 'image/darklogo.png' %}" class="mr-3 h-11 w-28 hidden dark:block " alt="Hirabricks Dark Logo"/>
          </a>
          </div>
          <div class="flex items-center lg:order-2">
            <!-- Apps -->
            <button type="button" data-dropdown-toggle="apps-dropdown" class="rounded-lg p-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700 focus:ring-4 focus:ring-gray-400 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-600">
              <span class="sr-only">View apps</span>
              <!-- Icon -->
              <i class="ri-dashboard-fill h-6 w-6 text-xl font-bold" aria-hidden="true"></i>
            </button>
            <!-- Dropdown menu -->
            <div class="z-50 my-4 hidden max-w-sm list-none divide-y divide-gray-100 overflow-hidden rounded-xl bg-white text-base shadow-lg dark:divide-gray-600 dark:bg-gray-700" id="apps-dropdown">
              <div class="block bg-gray-50 px-4 py-2 text-center text-base font-medium text-gray-700 dark:bg-gray-600 dark:text-gray-400">Apps</div>

              <div class="grid grid-cols-3 gap-4 p-4">
                <a href="{% url 'index' %}" class="group block rounded-lg p-4 text-center hover:bg-gray-100 dark:hover:bg-gray-600">
                  <i class="ri-dashboard-fill mx-auto mb-1 h-7 w-7 text-xl text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400" aria-hidden="true"></i>

                  <div class="text-sm text-gray-700 dark:text-white">Dashboard</div>
                </a>

                <a href="/admin/" class="group block rounded-lg p-4 text-center hover:bg-gray-100 dark:hover:bg-gray-600">
                  <i class="ri-admin-line mx-auto mb-1 h-7 w-7 text-xl text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400" aria-hidden="true"></i>
                  <div class="text-sm text-gray-700 dark:text-white">admin panel</div>
                </a>

                <a href="{% url 'profile' %}" class="group block rounded-lg p-4 text-center hover:bg-gray-100 dark:hover:bg-gray-600">
                  <i class="ri-profile-line mx-auto mb-1 h-7 w-7 text-xl text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400" aria-hidden="true"></i>

                  <div class="text-sm text-gray-700 dark:text-white">Profile</div>
                </a>
                <a href="{% url 'change_password' %}" class="group block rounded-lg p-4 text-center hover:bg-gray-100 dark:hover:bg-gray-600">
                  <i class="ri-loop-right-line mx-auto mb-1 h-7 w-7 text-xl text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400" aria-hidden="true"></i>

                  <div class="text-sm text-gray-700 dark:text-white">Change password</div>
                </a>
                <a href="{% url 'test' %}" class="group block rounded-lg p-4 text-center hover:bg-gray-100 dark:hover:bg-gray-600">
                  <i class="ri-loop-right-line mx-auto mb-1 h-7 w-7 text-xl text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400" aria-hidden="true"></i>

                  <div class="text-sm text-gray-700 dark:text-white">Test Page</div>
                </a>
                <a href="{% url 'logout' %}" class="group block rounded-lg p-4 text-center hover:bg-gray-100 dark:hover:bg-gray-600">
                  <i class="ri-logout-box-r-fill mx-auto mb-1 h-7 w-7 text-xl text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-400" aria-hidden="true"></i>

                  <div class="text-sm text-gray-700 dark:text-white">Logout</div>
                </a>
              </div>
            </div>
            <button type="button" class="mx-3 flex rounded-full bg-gray-800 text-sm focus:ring-4 focus:ring-gray-400 md:mr-0 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gough.png" alt="user photo" />
            </button>
            <!-- Dropdown menu -->
            <div class="z-50 my-4 hidden w-56 list-none divide-y divide-gray-100 rounded-xl bg-white text-base shadow dark:divide-gray-600 dark:bg-gray-700" id="dropdown">
              <div class="px-4 py-3">
                <span class="block text-sm font-semibold text-gray-700 dark:text-white">{{ request.user }}</span>
                <span class="block truncate text-sm text-gray-700 dark:text-white">{{ request.user.email }}</span>
              </div>
              <ul class="py-1 text-gray-700 dark:text-gray-400" aria-labelledby="dropdown">
                <li>
                  <a href="{% url 'profile' %}" class="block px-4 py-2 text-sm hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">My profile</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 text-sm hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">Account settings</a>
                </li>
              </ul>

              <ul class="py-1 text-gray-700 dark:text-gray-400" aria-labelledby="dropdown">
                <li>
                  <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <!-- Sidebar -->

      <aside class="fixed left-0 top-0 z-40 h-screen w-64 -translate-x-full border-r border-gray-200 bg-white pt-14 transition-transform md:translate-x-0 dark:border-gray-700 dark:bg-gray-800" aria-label="Sidenav" id="drawer-navigation">
        <div class="h-full overflow-y-auto bg-white px-3 py-5 dark:bg-gray-800">
          <ul class="space-y-2">
            <li>
              <a href="{% url 'index' %}" class="group flex items-center rounded-lg p-2 text-base font-medium text-gray-700 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                <i class="ri-pie-chart-2-fill h-6 w-6 pl-1 text-lg text-gray-500 transition duration-75 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-white"></i>
                <span class="ml-3">Overview</span>
              </a>
            </li>
            <li>
              <button type="button" class="group flex w-full items-center rounded-lg p-2 font-medium text-gray-700 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-pages" data-collapse-toggle="dropdown-pages">
                <i class="ri-pages-fill h-6 w-6 pl-1 text-lg text-gray-500 transition duration-75 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-white"></i>                
                <span class="ml-3 flex-1 whitespace-nowrap text-left">Pages</span>
                <svg aria-hidden="true" class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
              </button>

              <ul id="dropdown-pages" class="hidden space-y-2 py-2">
                <li>
                  <a href="{% url 'alldatas' %}" class="group flex w-full items-center rounded-lg p-2 pl-12 text-base font-medium text-gray-700 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">All Datas</a>
                </li>
                <li>
                  <a href="{% url 'history' %}" class="group flex w-full items-center rounded-lg p-2 pl-12 text-base font-medium text-gray-700 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">History</a>
                </li>
              </ul>
            </li>
            <li>
              <button type="button" class="group flex w-full items-center rounded-lg p-2 font-medium text-gray-700 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="Machine-pages" data-collapse-toggle="Machine-pages">
                <i class="ri-pages-fill h-6 w-6 pl-1 text-lg text-gray-500 transition duration-75 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-white"></i>                
                <span class="ml-3 flex-1 whitespace-nowrap text-left">Machine</span>
                <svg aria-hidden="true" class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
              </button>

              <ul id="Machine-pages" class="hidden space-y-2 py-2">
                <li>
                  <a href="{% url 'machine_runtime' %}" class="group flex w-full items-center rounded-lg p-2 pl-12 text-base font-medium text-gray-700 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Machine Runtime</a>
                </li>
                <li>
                  <a href="{% url 'runtime_records' %}" class="group flex w-full items-center rounded-lg p-2 pl-12 text-base font-medium text-gray-700 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">All records</a>
                </li>
              </ul>
            </li>
            <li>
              <button type="button" class="group flex w-full items-center rounded-lg p-2 font-medium text-gray-700 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="Resource-pages" data-collapse-toggle="Resource-pages">
                <i class="ri-archive-stack-fill h-6 w-6 pl-1 text-lg text-gray-500 transition duration-75 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-white"></i>
                
                <span class="ml-3 flex-1 whitespace-nowrap text-left">Resources</span>
                <svg aria-hidden="true" class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
              </button>

              <ul id="Resource-pages" class="hidden space-y-2 py-2">
                <li>
                  <a href="{% url 'resource_form' %}" class="group flex w-full items-center rounded-lg p-2 pl-12 text-base font-medium text-gray-700 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Form</a>
                </li>
                <li>
                  <a href="{% url 'todays_record' %}" class="group flex w-full items-center rounded-lg p-2 pl-12 text-base font-medium text-gray-700 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Todays Record</a>
                </li>
                <li>
                  <a href="{% url 'resource_reports' %}" class="group flex w-full items-center rounded-lg p-2 pl-12 text-base font-medium text-gray-700 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Report</a>
                </li>
              </ul>
            </li>
            <li>
              <button type="button" class="group flex w-full items-center rounded-lg p-2 font-medium text-gray-700 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="Soil-pages" data-collapse-toggle="Soil-pages">
                <i class="ri-test-tube-fill h-6 w-6 pl-1 text-lg text-gray-500 transition duration-75 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-white"></i>
                
                <span class="ml-3 flex-1 whitespace-nowrap text-left">Soil</span>
                <svg aria-hidden="true" class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
              </button>

              <ul id="Soil-pages" class="hidden space-y-2 py-2">
                <li>
                  <a href="{% url 'soil_mixture' %}" class="group flex w-full items-center rounded-lg p-2 pl-12 text-base font-medium text-gray-700 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Soil Form</a>
                </li>
                <li>
                  <a href="{% url 'soil_report' %}" class="group flex w-full items-center rounded-lg p-2 pl-12 text-base font-medium text-gray-700 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">All Records</a>
                </li>         
              </ul>
            </li>

            <li>
              <a href="{% url 'analytics' %}" class="group flex items-center rounded-lg p-2 text-base font-medium text-gray-700 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                <i class="ri-line-chart-fill h-6 w-6 pl-1 text-lg text-gray-500 transition duration-75 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-white"></i>
                <span class="ml-3 flex-1 whitespace-nowrap">Analytics</span>
                <!-- <span class="text-red-800 bg-red-100 dark:bg-red-200 dark:text-red-800 inline-flex h-5 w-5 items-center justify-center rounded-full text-xs font-semibold"> 4 </span> -->
              </a>
            </li>
            <li>
              <button type="button" class="group flex w-full items-center rounded-lg p-2 text-base font-medium text-gray-700 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-authentication" data-collapse-toggle="dropdown-authentication">
                <i class="ri-fingerprint-fill h-6 w-6 pl-1 text-lg text-gray-500 transition duration-75 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-white"></i>
                <span class="ml-3 flex-1 whitespace-nowrap text-left">Authentication</span>
                <!-- <i class="ri-arrow-down-s-line h-6 w-6 text-2xl font-bold"></i> -->
                <svg aria-hidden="true" class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
              </button>
              <ul id="dropdown-authentication" class="space-y-2 py-2">
                <li>
                  <a href="{% url 'logout' %}" class="group flex w-full items-center rounded-lg p-2 pl-11 text-base font-medium text-red-700 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Sign out</a>
                </li>
                <li>
                  <a href="#" class="group flex w-full items-center rounded-lg p-2 pl-11 text-base font-medium text-gray-700 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Reset Password</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="mt-5 space-y-2 border-t border-gray-200 pt-5 dark:border-gray-700">
            <li>
              <span class="ml-3 dark:text-gray-400 text-gray-500">Created by</span>

              <a href="https://shresthaaashutosh.com.np/" class="group flex items-center rounded-lg p-2 text-base font-medium text-gray-700 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" target="_blank_">
                <i class="ri-creative-commons-by-fill h-6 w-6 pl-1 text-lg text-gray-500 transition duration-75 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-white"></i>
                <span class="ml-3">Aashutosh Shrestha</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="absolute bottom-0 left-0 z-20 hidden w-full justify-center space-x-4 bg-white p-4 lg:flex dark:bg-gray-800">
          <a href="{% url 'logout' %}" class="inline-flex cursor-pointer justify-center rounded p-2 text-gray-500 hover:bg-red-500 hover:text-white dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">
            <i class="ri-logout-box-r-line h-6 w-6 text-xl font-bold"></i>
          </a>
        </div>
      </aside>

      <main class="p-4 pt-20 md:ml-64">
        {% block content %}

        {% endblock %}
      </main>
    </div>

    <!-- flowbite CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
