{% extends 'base.html' %} 
{% load static %}

{% block title %} Forms | TunnelKiln {% endblock %} 

{% block content %}

      <div class="container bg-gray-200  p-12 m-24">
        <h2 class="text-2xl font-bold mb-4">Sidebar Section</h2>

        <!-- Your Form Goes Here -->
        <form action="{% url 'index' %}" method="post" class="mb-4">
            {% csrf_token %}
            {{ tempform.as_p }}   
            <button type="submit" class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">Submit</button>
        </form>

        <!-- Other Sidebar Content Goes Here -->
      </div>
{% endblock %}
