{% extends "base.html" %} 
{% block title %} Car push History | hirabricks {% endblock %}
{% block content %}
<div class="max-w-full overflow-x-auto">
  <div class="p-6 pb-8">
    <h1 class="text-4xl font-semibold text-gray-800 dark:text-gray-200">Car Push History</h1>
  </div>
  <div class="min-w-[1170px] bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700">
    <!-- table header start -->
    <div class="grid grid-cols-12 rounded-t-2xl bg-red-700 dark:bg-red-500 px-5 py-4 lg:px-7 2xl:px-11">
      <div class="col-span-1">
        <h5 class="font-semibold uppercase tracking-wide text-white dark:text-gray-200">ID</h5>
      </div>
      <div class="col-span-1">
        <h5 class="font-semibold uppercase tracking-wide text-white dark:text-gray-200">Car Number</h5>
      </div>

      <div class="col-span-2">
        <h5 class="font-semibold uppercase tracking-wide text-white dark:text-gray-200">Entry Time</h5>
      </div>

      <div class="col-span-2">
        <h5 class="font-semibold uppercase tracking-wide text-white dark:text-gray-200">Exit Time</h5>
      </div>
      <div class="col-span-3">
        <h5 class="font-semibold uppercase tracking-wide text-white dark:text-gray-200">Cycle time</h5>
      </div>

      <div class="col-span-2">
        <h5 class="font-semibold uppercase tracking-wide text-white dark:text-gray-200">Status</h5>
      </div>

      <div class="col-span-1">
        <h5 class="text-right font-semibold uppercase tracking-wide text-white dark:text-gray-200">Pushed by</h5>
      </div>
    </div>
    <!-- table header end -->

    <!-- table body start -->
    <div class="dark:bg-gray-700 bg-white">
      {% for Cars in Completed %}
      <!-- table row item -->
      <div class="dark:border-strokedark grid grid-cols-12 border-t border-[#EEEEEE] px-5 py-4 lg:px-7 2xl:px-11">
        <div class="col-span-1">
          <p class="font-semibold text-sm text-gray-800 dark:text-white">{{ Cars.id }}</p>
        </div>
        <div class="col-span-1">
          <p class="font-semibold text-sm text-gray-800 dark:text-white">{{ Cars.car_number }}</p>
        </div>

        <div class="col-span-2">
          <p class="font-semibold text-sm text-gray-800 dark:text-white">{{ Cars.entry_time }}</p>
        </div>

        <div class="col-span-2">
          <p class="font-semibold text-sm text-gray-800 dark:text-white">{{ Cars.exit_time }}</p>
        </div>
        <div class="col-span-3">
          <p class="font-semibold text-sm text-black dark:text-white">{{ Cars.cycle_time }}</p>
        </div>
        <div class="col-span-2">
          <p class="inline-block whitespace-nowrap rounded-lg bg-gradient-to-tl from-green-600 to-green-300 px-2 py-2 text-center align-baseline text-xs font-bold uppercase leading-none text-gray-50 text-right">{{ Cars.status }}</p>
        </div>
        <div class="col-span-1">
          <h5 class="font-semibold text-sm text-gray-800 dark:text-white text-right">{{ Cars.user.first_name }}</h5>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- table body end -->
  </div>
</div>
{% endblock content %}
