{% extends "base.html" %} 

{% load static %}
{% load app_filters %}

{% block title %} Home | Hirabricks Tunnel Kiln {% endblock %} 
{% block content %}

<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
  <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
    <h2 class="text-3xl font-bold text-black">Form</h2>
  </div>

  <!-- ====== 2 col Section  -->
  <div class="grid grid-cols-1 gap-9 sm:grid-cols-2">
      <!-- ====== Form Section  -->
    <div class="flex flex-col gap-9">
      <div class="rounded-md border border-gray-300 bg-white shadow-lg">
        <div class="border-b border-gray-100 px-6 py-4">
          <h3 class="font-medium text-black">Enter New Car</h3>
        </div>
        <form class="mx-auto px-12 py-12" action="{% url 'index' %}" method="post">
          {% csrf_token %}
          <div class="mb-5">
            {{ carForm.as_p }}
          </div>
        
          <button type="submit" class="w-full rounded-lg bg-red-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 sm:w-auto dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Submit</button>
          {% for message in messages %}
          <p id="bg-green-500 px-4 py-6">{{message}}</p>
          {% endfor %}
        </form>

        
      </div>
      {% if request.session.success_message %}
      <div class="fixed right-0 top-6 z-50 w-auto bg-green-500 text-white" x-data="{ isOpen: true }">
        <div class="container mx-auto flex items-center justify-between px-6 py-4" x-show="isOpen">
          <div class="flex">
            <i class="ri-check-line items-center rounded-full bg-white fill-current px-1 text-xl text-green-600"></i>
      
            <p class="mx-3 text-white">{{ request.session.success_message }}</p>
          </div>
      
          <button class="transform rounded-md p-1 transition-colors duration-300 hover:bg-gray-600 hover:bg-opacity-25 focus:outline-none" @click="isOpen = false">
            <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>
      
    
      {% endif %}
    </div>
  <!-- ====== Conditions Section  -->
    <div class="flex flex-col gap-9">
      <div class="rounded-md border border-gray-300 bg-white shadow-lg">
        <div class="border-b border-gray-100 px-6 py-4">
          <h3 class="font-medium text-black">Required Conditions</h3>
        </div>
        <div class="px-6 py-4">
        <div class="flex gap-x-5 ">
          <i class="ri-hexagon-fill m-1 h-6 w-6 flex-shrink-0 text-red-600 dark:text-red-500"></i>
          <div class="flex gap-6">
            <h3 class="text-lg font-semibold text-gray-800 dark:text-white pl-2">Product Type:</h3>
            <h3 class="text-lg font-semibold text-gray-800 dark:text-white">{{ req_condition.name }}</h3>
          </div>
        </div>

        <div class="flex gap-x-5 pt-2">
          <i class="ri-hexagon-fill m-1 h-6 w-6 flex-shrink-0 text-red-600 dark:text-red-500"></i>
          <div class="flex gap-6">
            <h3 class="text-lg font-semibold text-gray-800 dark:text-white pl-2">Fan Speed:</h3>
            <h3 class="text-lg font-semibold text-gray-800 dark:text-white">{{ req_condition.Fan_Speed }}</h3>
          </div>
        </div>

        <div class="flex gap-x-5 pt-2">
          <i class="ri-hexagon-fill m-1 h-6 w-6 flex-shrink-0 text-red-600 dark:text-red-500"></i>
          <div class="flex gap-6">
            <h3 class="text-lg font-semibold text-gray-800 dark:text-white pl-2">Dryer Speed:</h3>
            <h3 class="text-lg font-semibold text-gray-800 dark:text-white">{{ req_condition.Dryer_Speed }}</h3>
          </div>
        </div>

        <div class="flex gap-x-5 pt-2">
          <i class="ri-hexagon-fill m-1 h-6 w-6 flex-shrink-0 text-red-600 dark:text-red-500"></i>
          <div class="flex gap-6">
            <h3 class="text-lg font-semibold text-gray-800 dark:text-white pl-2">Burner Speed:</h3>
            <h3 class="text-lg font-semibold text-gray-800 dark:text-white">{{ req_condition.Burner_Speed }}</h3>
          </div>
        </div>
        <div class="flex gap-x-5 pt-2">
          <i class="ri-hexagon-fill m-1 h-6 w-6 flex-shrink-0 text-red-600 dark:text-red-500"></i>
          <div class="flex gap-6">
            <h3 class="text-lg font-semibold text-gray-800 dark:text-white pl-2">Temperature :</h3>
            <h3 class="text-lg font-semibold text-gray-800 dark:text-white">{{ req_condition.Temperature }} ° C</h3>
          </div>
        </div>

        <div class="flex gap-x-5 pt-2">
          <i class="ri-hexagon-fill m-1 h-6 w-6 flex-shrink-0 text-red-600 dark:text-red-500"></i>
          <div class="flex gap-6">
            <h3 class="text-lg font-semibold text-gray-800 dark:text-white pl-2">Durations:</h3>
            <h3 class="text-lg font-semibold text-gray-800 dark:text-white pl-2">{{ req_condition.Durations|convert_to_hours_and_minutes }}</h3>
          </div>
        </div>

      </div>
      </div>
    </div>
  </div>
</div>


<!-- Cars Grid Section -->
<div class="w-full p-6">
  <h2 class="mb-4 text-2xl font-bold">All Cars Inside Tunnel</h2>

  <!-- Cars Grid -->
  <div class="grid grid-cols-2 gap-1 md:grid-cols-3 lg:grid-cols-5">
    {% for Cars in Cars %}
    <div class="mx-auto max-w-6xl">
      <div class="w-full max-w-sm px-3 py-6 sm:w-full lg:w-full">
        {% if Cars.zone.area == "PRE HEATING" %}
        <div class="overflow-hidden rounded-lg bg-red-50 shadow-xl">
          {% elif Cars.zone.area == "HEATING" %}
          <div class="overflow-hidden rounded-lg bg-red-200 shadow-xl">
            {% else %}
            <div class="overflow-hidden rounded-lg bg-green-200 shadow-xl">
              {% endif %}

              <div class="mb-2 mt-4 flex justify-between pl-2">
                <div>
                  <p class="mb-0 text-lg font-bold uppercase text-gray-900">Position</p>
                  <p class="mt-0 text-xl font-medium text-gray-800">{{ Cars.zone.id }}</p>
                </div>
                {% for firing in firing %} {% if Cars.zone.name == firing.zone.name %}
                <i class="ri-fire-fill h-6 w-6 text-red-600 group-hover:opacity-70"></i>
                {% endif %} {% endfor %}
              </div>

              <div class="flex border-t border-gray-500 p-4 text-gray-700">
                <div class="inline-flex items-center">
                  <i class="ri-luggage-cart-line mr-3 h-6 w-6 text-xl"></i>

                  <p class="mb-0 text-lg font-medium text-gray-600">Number</p>
                  <span class="pl-12 text-xl font-bold text-gray-900">{{ Cars.car_number }}</span>
                </div>
              </div>

              <div class="border-t border-gray-300 bg-gray-100 px-4 pb-4 pt-3">
                <div class="text-xs font-bold uppercase tracking-wide text-gray-600">Entry Time</div>
                <div class="flex items-center pt-2">
                  <div class="mr-3 h-10 w-10 rounded-full bg-cover bg-center" style="background-image: url(https://via.placeholder.com/50x50)"></div>
                  <div>
                    <p class="font-bold text-gray-900">{{ Cars.entry_time }}</p>
                    <p class="text-sm font-extralight text-gray-400">{{ Cars.status }}</p>
                  </div>
                </div>
              </div>
              <div class="flex border-t border-gray-800 p-4 text-gray-700">
                <div class="inline-flex items-center">
                  <p class="mb-0 text-sm font-medium text-gray-600">Pushed by</p>
                  <span class="pl-12 text-lg font-bold text-gray-900">{{ Cars.user.first_name }}</span>
                </div>
              </div>

              <div class="flex p-4 text-gray-700">
                <div class="inline-flex items-center">
                  <p class="text-sm font-bold text-black">Product Type</p>
                  <span class="pl-6 text-sm font-medium text-gray-700">{{ Cars.Type }}</span>
                </div>
              </div>

              <div class="flex p-4 text-gray-700">
                <div class="inline-flex items-center">
                  <p class="text-sm font-bold text-black">Note</p>
                  <span class="pl-6 text-sm font-medium text-gray-700">{{ Cars.remarks }}</span>
                </div>
              </div>
            </div>
          </div>    
      </div>
      {% endfor %}
<script>
  //Query All input fields
  var form_fields = document.getElementsByTagName("input");
  var form_label = document.getElementsByTagName("label");
  var form_textarea = document.getElementsByTagName("textarea");
  var form_option = document.getElementsByTagName("option");
  var form_select = document.getElementsByTagName("select");
  var form_helptxt = document.getElementsByClassName("helptext");

  for (var field in form_fields) {
    form_fields[field].className +=
      "block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-red-500 focus:ring-red-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-red-500 dark:focus:ring-red-500";
  }
  for (var field in form_textarea) {
    form_textarea[field].className +=
      "block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-red-500 focus:ring-red-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-red-500 dark:focus:ring-red-500";
  }

  for (var field in form_label) {
    form_label[field].className +=
      "block mb-4 pt-4 text-sm font-medium text-gray-900 dark:text-white";
  }
  for (var field in form_select) {
    form_select[field].className +=
      "block inline-flex w-full items-center rounded-lg border border-gray-300 bg-gray-50 p-2.5 px-4 py-2.5 text-center text-sm font-medium text-red-600 focus:outline-none focus:ring-4 focus:ring-red-300 dark:focus:ring-red-800";
  }
  for (var field in form_option) {
    form_option[field].className +=
      "ml-2 text-sm font-medium text-gray-900 dark:text-gray-100 text-left";
  }
  for (var field in form_helptxt) {
    form_helptxt[field].className +=
      " mt-6 text-sm text-gray-600 dark:text-gray-400";
  }
</script>


{% endblock %}
