#include <ESP8266WiFi.h>
	#include <WiFiClientSecure.h>
	
	const char *ssid = "New Plant";
	const char *password = "Prakash@#980786";
	
	const char *host = "https://govmngfhcfddnuqorust.supabase.co";
	const int httpsPort = 443;
	
	const char *apiKey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdvdm1uZ2ZoY2ZkZG51cW9ydXN0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDkzNzUzMjUsImV4cCI6MjAyNDk1MTMyNX0.M9hPOQMlNsIMUiFaFP63-Sq9Dqym-hxLAkZ62UJNbVU";
	
	const int currentSensorPin = A0; // Analog pin for current sensor
	
	void setup() {
	  Serial.begin(9600);
	  delay(10);
	
	  WiFi.begin(ssid, password);
	
	  Serial.print("Connecting to WiFi");
	  while (WiFi.status() != WL_CONNECTED) {
		delay(500);
		Serial.print(".");
	  }
	  Serial.println("WiFi connected");
	
	  sendData("start");
	}
	
	void loop() {
	  int currentReading = analogRead(currentSensorPin);
	
	  sendData(String(currentReading));
	
	  delay(10000); // Adjust delay as needed
	}
	
	void sendData(String signal) {
	  WiFiClientSecure client;
	  if (!client.connect(host, httpsPort)) {
		Serial.println("Connection failed");
		return;
	  }
	
	  String url = "/rest/v1/machine_data";
	  String postData = "{\"signal\":\"" + signal + "\"}";
	
	  String request = "POST " + url + " HTTP/1.1\r\n" +
					   "Host: " + host + "\r\n" +
					   "Content-Type: application/json\r\n" +
					   "Content-Length: " + postData.length() + "\r\n" +
					   "Authorization: Bearer " + apiKey + "\r\n" +
					   "Connection: close\r\n" +
					   "\r\n" +
					   postData;
	
	  client.print(request);
	
	  while (client.connected()) {
		if (client.available()) {
		  char c = client.read();
		  Serial.print(c);
		}
	  }
	
	  Serial.println();
	  Serial.println("Request sent");
	
	  client.stop();
	}
	