{% extends "base.html" %} 
{% block title %} Reset password | hirabricks {% endblock %} 

{% block content %}
<div class="overflow-x-auto">
  <div class="p-6 pb-8">
    <h1 class="text-4xl font-bold text-black dark:text-white">Change Your password</h1>
  </div>

  <form class="mx-auto px-12 py-12" action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <div class="mb-5">
      {{ form.as_p }}
      
    </div>

    <button type="submit" class="mt-4 w-full rounded-lg bg-secondary px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-secondary focus:outline-none focus:ring-4 focus:ring-red-300 sm:w-auto dark:bg-primary dark:hover:bg-secondary dark:focus:ring-secondary">Submit</button>
  </form>
</div>
{% endblock content %}
