{% extends "base.html" %} 
{% block title %} Coals Report All Data | hirabricks {% endblock %} 

{% block content %}
<div class="max-w-full overflow-x-auto">
  
    <div class="p-6 pb-8">
      <h1 class="text-4xl font-semibold text-gray-800 dark:text-gray-200">Coals Used Records [ Burner ]</h1>
      <div class="sm:col-span-2 md:grow">
        <div class="flex justify-end gap-x-2">
          <div class="hs-dropdown relative inline-block [--placement:bottom-right]">
          <a href="{% url 'export_csv' %}">
          <button id="hs-as-table-table-export-dropdown" type="button" class="inline-flex items-center gap-x-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-medium text-gray-800 shadow-sm hover:bg-gray-50 disabled:pointer-events-none disabled:opacity-50 dark:border-gray-700 dark:bg-slate-900 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
            <svg class="size-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
            </svg>
            Export
          </button>
        </a>
          </div>
        </div>
        </div>
    </div>
    <div class="min-w-[1170px] overflow-hidden rounded-xl border border-gray-200 bg-white text-center shadow-sm dark:border-gray-700 dark:bg-slate-900">
      <!-- table header start -->
      <div class="grid grid-cols-12 rounded-t-2xl bg-red-700 px-5 py-4 lg:px-7 2xl:px-11 dark:bg-red-500">
        <div class="col-span-3">
          <h5 class="font-semibold uppercase tracking-wide text-white dark:text-gray-200">ID</h5>
        </div>
        <div class="col-span-3">
          <h5 class="font-semibold uppercase tracking-wide text-white dark:text-gray-200">Date</h5>
        </div>
        <div class="col-span-3">
          <h5 class="font-semibold uppercase tracking-wide text-white dark:text-gray-200">Burner</h5>
        </div>
        <div class="col-span-3">
          <h5 class="font-semibold uppercase tracking-wide text-white dark:text-gray-200">Weight</h5>
        </div>
      </div>
      <!-- table header end -->
  
      <!-- table body start -->
      <div class="bg-white dark:bg-gray-700">
        {% for i in Burner %}
            <!-- table row item -->
            <div class="dark:border-strokedark grid grid-cols-12 border-t border-[#EEEEEE] px-5 py-4 lg:px-7 2xl:px-11">
            <div class="col-span-3">
                <p class="text-sm font-semibold text-gray-800 dark:text-white">{{ i.id }}</p>
            </div>
            <div class="col-span-3">
                <p class="text-sm font-semibold text-gray-800 dark:text-white">{{ i.date }}</p>
            </div>
            <div class="col-span-3">
                <p class="text-sm font-semibold text-gray-800 dark:text-white">{{ i.burner_number }}</p>
            </div>
    
            <div class="col-span-3">
                <p class="text-sm font-semibold text-gray-800 dark:text-white">{{ i.coal_weight }}</p>
            </div>
            </div>
        {% endfor %}
      </div>
      <!-- table body end -->
  
      <!-- table footer start -->
      <div class="grid grid-cols-12 rounded-b-2xl bg-red-700 px-5 py-4 lg:px-7 2xl:px-11 dark:bg-red-500">
        <div class="col-span-8">
          <p class="font-semibold uppercase tracking-wide text-white dark:text-gray-200">Total</p>
        </div>
        <div class="col-span-4">
          <p class="text-center text-3xl font-semibold uppercase tracking-wide text-white dark:text-gray-200">{{ burner_total_weight }} Kg</p>
        </div>
      </div>
      <!-- table footer end -->
    </div>
  </div>
  
  <div class="max-w-full overflow-x-auto pt-14">
    {% for type in METHOD_CHOICES %}
    <div class="col-span-6">
      <div class="p-6 pb-8">
        <h1 class="text-4xl font-semibold text-gray-800 dark:text-gray-200">{{ type.1 }}</h1>
      </div>
      <div class="min-w-[1170px] overflow-hidden rounded-xl border border-gray-200 bg-white text-center shadow-sm dark:border-gray-700 dark:bg-slate-900">
        <!-- table header start -->
        <div class="grid grid-cols-12 rounded-t-2xl bg-red-700 px-5 py-4 lg:px-7 2xl:px-11 dark:bg-red-500">
          <div class="col-span-3">
            <h5 class="font-semibold uppercase tracking-wide text-white dark:text-gray-200">ID</h5>
          </div>
          <div class="col-span-3">
            <h5 class="font-semibold uppercase tracking-wide text-white dark:text-gray-200">Date</h5>
          </div>
          <div class="col-span-3">
            <h5 class="font-semibold uppercase tracking-wide text-white dark:text-gray-200">Type</h5>
          </div>
          <div class="col-span-3">
            <h5 class="font-semibold uppercase tracking-wide text-white dark:text-gray-200">Weight</h5>
          </div>
        </div>
        <!-- table header end -->
  
        <!-- table body start -->
        <div class="bg-white dark:bg-gray-700">
          {% for x in Jhogai %} 
			{% if x.type == type.0 %}
				<!-- table row item -->
				<div class="dark:border-strokedark grid grid-cols-12 border-t border-[#EEEEEE] px-5 py-4 lg:px-7 2xl:px-11">
					<div class="col-span-3">
						<p class="text-sm font-semibold text-gray-800 dark:text-white">{{ x.id }}</p>
					</div>
					<div class="col-span-3">
						<p class="text-sm font-semibold text-gray-800 dark:text-white">{{ x.date }}</p>
					</div>
					<div class="col-span-3">
						<p class="text-sm font-semibold text-gray-800 dark:text-white">{{ x.type }}</p>
					</div>
		
					<div class="col-span-3">
						<p class="text-sm font-semibold text-gray-800 dark:text-white">{{ x.weight }}</p>
					</div>
				</div>
			{% endif %} 
		  {% endfor %}
        </div>
        <!-- table body end -->
  
        <!-- table footer start -->
        <div class="grid grid-cols-12 rounded-b-2xl bg-red-700 px-5 py-4 lg:px-7 2xl:px-11 dark:bg-red-500">
          <div class="col-span-8">
            <p class="font-semibold uppercase tracking-wide text-white dark:text-gray-200">Total</p>
          </div>
  
          <div class="col-span-4">
            {% for item in jhogai_totals_list %} 
				{% if item.type == type.0 %}
					<p class="text-center text-3xl font-semibold uppercase tracking-wide text-white dark:text-gray-200">{{ item.total_weight }} Kg</p>
				{% endif %} 
			{% endfor %}
          </div>
        </div>
        <!-- table footer end -->
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock content %}
